  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
  *:focus {
    outline: none;
  }
  
  .form {
    top: 0;
    left: 0; 
    margin-top: 50px;
  }
  
  
  input[type="text"],
  input[type="password"] {
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    width: 40%;
    height: 32px;
    border: none;
    background-color: rgb(239, 239, 239);
    border-bottom: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #5F08B6;
    color: #5F08B6;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #5F08B6;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .user {
    color: rgb(0, 0, 0);
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
  }